:root {
  padding: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
  color: rgba(19, 18, 18, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 100%);
  margin: 0;
  padding: 0;
}
.container{
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: transparent;

  animation-name: example;
  animation-duration: 4s;
  
  transition-property: clip-path;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}

.effect{
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-image: 
  radial-gradient(rgba(2, 0, 36, 0.5) 5px, transparent 5px),
  radial-gradient( rgba(2,0,36,0.5) 5px, transparent 5px);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  z-index: 1;
  position: absolute;
  left: 0%;
  top: 0%;
  clip-path: circle(20%);
 
}




